div {
  text-align: center;
  align-content: center;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100vw;
  height: 70px;
  background-color: green;
  color: white;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: auto;
  justify-content: center;
  margin-top: 18px;
}

input {
  border: 1px solid #ccc;
}

input, button{
  padding: 7px 10px;
  width: 125px;
  font-size: 16px;
  border-radius: 4px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #37813a;
}

button:focus {
  outline: none;
}

canvas {
  display: block;
  margin: 20px auto;

  width: 80vw;
}

.content {
  width: 100vw;
  overflow: hidden;
}

.containter-butttons {
  display: inline-flex;
}

/* Ajuste para pantallas más grandes */
@media (max-width: 700px) {
  canvas {
    width: 95vw;
  }

  input{
    flex: 1 1 80%;
    margin: 5px;
  }

  button{
    flex: 1 1 40%;
    margin: 5px;
  }
}
